* {
	padding: 0;
	margin: 0;
	list-style: none;
}

body {
	font-family: Arial, fantasy;
	background: #1d2724;
	scroll-behavior: smooth;
}

p {
	margin: 5px;
}

.aspect {
	width: 500px;
	margin: 60px auto;
	color: #ffffff;
	padding: 20px;
	border-radius: 50px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.aspect li {
	margin: 20px 0;
	padding: 10px;
}

.bar0, .bar1, .bar2, .bar3, .bar4, .bar5 {
	background: #353b48;
	display: block;
	height: 20px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.bar0:hover, .bar1:hover, .bar2:hover, .bar3:hover, .bar4:hover, .bar5:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bar0 span {
	height: 20px;
	float: left;
	background: linear-gradient(135deg, rgba(179, 67, 72, 1)0%, rgba(10, 126, 140, 1)100%);
}

.bar1 span {
	height: 20px;
	float: left;
	background: linear-gradient(135deg, rgba(140, 24, 10, 1)0%, rgba(188, 32, 13, 1)100%);
}

.bar2 span {
	height: 20px;
	float: left;
	background: linear-gradient(135deg, rgba(61, 140, 10, 1)0%, rgba(82, 188, 13, 1)100%);
}

.bar3 span {
	height: 20px;
	float: left;
	background: linear-gradient(135deg, rgba(126, 140, 10, 1)0%, rgba(126, 140, 10, 1)100%);
}

.bar4 span {
	height: 20px;
	float: left;
	background: linear-gradient(135deg, rgba(126, 140, 10, 1)0%, rgba(126, 140, 10, 1)100%);
}

.bar5 span {
	height: 20px;
	float: left;
	background: linear-gradient(135deg, rgba(89, 10, 140, 1)0%, rgba(119, 13, 188, 1)100%);
}

.conscientiousness {
	width: 63%;
	animation: conscientiousness 3s;
}

@keyframes conscientiousness {
	0% {
		width: 0%;
	}
	100% {
		width: 63%;
	}
}

.industriousness {
	width: 88%;
	animation: industriousness 3s;
}

@keyframes industriousness {
	0% {
		width: 0%;
	}
	100% {
		width: 88%;
	}
}

.orderliness {
	width: 25%;
	animation: orderliness 3s;
}

@keyframes orderliness {
	0% {
		width: 0%;
	}
	100% {
		width: 25%;
	}
}

.openness {
	width: 94%;
	animation: openness 3s;
}

@keyframes openness {
	0% {
		width: 0%;
	}
	100% {
		width: 94%;
	}
}

.intellect {
	width: 94%;
	animation: intellect 3s;
}

@keyframes intellect {
	0% {
		width: 0%;
	}
	100% {
		width: 94%;
	}
}

.aesthetics {
	width: 84%;
	animation: aesthetics 3s;
}

@keyframes aesthetics {
	0% {
		width: 0%;
	}
	100% {
		width: 84%;
	}
}

.extraversion {
	width: 89%;
	animation: extraversion 3s;
}

@keyframes extraversion {
	0% {
		width: 0%;
	}
	100% {
		width: 89%;
	}
}

.assertiveness {
	width: 99%;
	animation: assertiveness 3s;
}

@keyframes assertiveness {
	0% {
		width: 0%;
	}
	100% {
		width: 99%;
	}
}

.enthusiasm {
	width: 36%;
	animation: enthusiasm 3s;
}

@keyframes enthusiasm {
	0% {
		width: 0%;
	}
	100% {
		width: 36%;
	}
}

.agreeableness {
	width: 20%;
	animation: agreeableness 3s;
}

@keyframes agreeableness {
	0% {
		width: 0%;
	}
	100% {
		width: 20%;
	}
}

.compassion {
	width: 48%;
	animation: compassion 3s;
}

@keyframes compassion {
	0% {
		width: 0%;
	}
	100% {
		width: 48%;
	}
}

.politeness {
	width: 7%;
	animation: politeness 3s;
}

@keyframes politeness {
	0% {
		width: 0%;
	}
	100% {
		width: 7%;
	}
}

.neuroticism {
	width: 64%;
	animation: neuroticism 3s;
}

@keyframes neuroticism {
	0% {
		width: 0%;
	}
	100% {
		width: 64%;
	}
}

.volatility {
	width: 86%;
	animation: volatility 3s;
}

@keyframes volatility {
	0% {
		width: 0%;
	}
	100% {
		width: 86%;
	}
}

.withdrawal {
	width: 31%;
	animation: withdrawal 3s;
}

@keyframes withdrawal {
	0% {
		width: 0%;
	}
	100% {
		width: 31%;
	}
}

</div>
